/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

//header//
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $baseWhite;
  z-index: 1000;


  :after {
    content: "";
    width: 100%;
    height: 1px;
    background: $greyLineHeader;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}

.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 17px 0;
}

.header_nav {

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    li {
      margin-left: 72px;
      font-size: 17px;
      font-weight: 400;

      &:first-child {
        margin-left: 0;
      }

    }

  }

}

.header_link {
  &:hover {
    color: $darkBlueTitle;
  }

}


//section_intro
.section_intro {
  margin-top: 90px;
}

.intro_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.intro_text {
  h1 {
    font-size: 36px;
    font-weight: 600;
    color: $darkBlueTitle;
    margin-bottom: 24px;
  }

  h2 {
    width: 100%;
    max-width: 518px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;

  }
}

.intro_img {
  padding-left: 20px;

  img {
    width: 100%;
    height: auto;
  }
}


//section_advantages
.section_advantages {
  margin: 69px 0 48px 0;
  padding: 65px 0;
  background: $lightBlueSectionBg;
}

.advantages_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  position: relative;
  width: 100%;

  &:before {
    content: '';
    width: 128px;
    height: 94px;
    background: url("/src/icons/star_advantages.svg") no-repeat;
    position: absolute;
    top: -115px;
    left: -20px;
    z-index: 50;
  }

}

.advantages_block {
  margin-left: 37px;
  padding-left: 28px;
  width: 25%;


  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    position: relative;

    &:before {
      content: '';
      width: 17px;
      height: 17px;
      background: url("/src/icons/square_advantages.svg") no-repeat;
      position: absolute;
      top: 2px;
      left: -27px;
      bottom: 0;
      z-index: 50;
    }
  }

  p {
    color: $lightGrayText;
    font-weight: 400;

  }

  &:first-child {
    margin-left: 0;

  }
}


//section_services

.services_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 522px;
  margin-bottom: 48px;


  h2 {
    font-size: 32px;
    color: $darkBlueTitle;
    margin-bottom: 8px;

  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
}

.services_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;

  img {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 23% !important;

    height: auto;
    border-radius: 8px;
  }

}


//section_portfolio
.section_portfolio {
  background: $lightBlueSectionBg;
  margin: 48px 0 48px 0;
  padding: 40px 0;

}

.portfolio_row {
  position: relative;

}

.portfolio_title {
  h2 {
    color: $darkBlueTitle;
    font-size: 36px;
    text-align: center;
    padding-bottom: 40px;

  }
}

//portfolio_carousel
.slides_inner {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 38%;
    z-index: 100;
    font-size: 0;
    width: 48px;
    height: 48px;


  }

  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;

    li {
      list-style: none;
      margin: 0 10px;

    }

    li.slick-active {
      button {
        background: $bgDotsActive;

      }
    }

    button {
      font-size: 0;
      width: 16px;
      height: 16px;
      background: $bgDots;
      border-radius: 50%;

    }
  }


}

.slide_item {
  text-align: center;
  opacity: 0.8;

}

.slick-center {
  opacity: 1;
}

.slick-arrow.slick-prev {
  background: url("/src/icons/portfolio/arrow-left.svg") 0 0 /100% no-repeat ;
  left: 10%;

}

.slick-arrow.slick-next {
  right: 10%;
  background: url("/src/icons/portfolio/arrow-right.svg") 0 0 /100% no-repeat ;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  li {

    margin: 0 16px;

    img {
      border-radius: 8px;
      -webkit-box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.15));
      box-shadow: (0px 0px 10px rgba(0, 0, 0, 0.15));

    }
  }
}

////section_contacts
.contacts_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;

}

.contacts_content {
  padding-left: 120px;

  h3 {
    font-size: 36px;
    font-weight: 500;
    color: $darkBlueTitle;
    margin-bottom: 5px;
  }

  a, p {
    font-size: 18px;
  }

  a {
    &:hover {
      color: $darkBlueTitle;
    }
  }

}

.contacts_social {
  margin-right: 30px;
}

.contacts_inner {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}


//copywriter
.section_copywriter {
  background: $lightBlueSectionBg;
  padding: 23px 0;
  margin-top: 48px;

  p {
    font-size: 18px;
  }
}

.copywriter {
  text-align: center;
}


@media (max-width: 1025px) {
  //  Header
  .header_nav {
    ul {
      li {
        margin-left: 53px;
        font-size: 15px;
      }
    }

  }
  //  intro
  .intro_text {
    h1 {
      font-size: 34px;
    }
  }

  // advantages
  .advantages_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .advantages_block {
    margin-bottom: 37px;
    margin-left: 0;
    width: 48%;
  }

  //  service,portfolio
  .services_title, .portfolio_title {
    h2 {
      font-size: 30px;
    }

  }

  //  footer
  .contacts_content {
    padding-left: 80px;

    h3 {

      font-size: 32px;
    }
  }

}